/*
Main Blue #014bb9
Dark Blue #230962
Red 1 #ef4130
Hover Red #c72824
Yellow #ecc01c


font-family: 'Sniglet', cursive;

font-family: 'Lato', sans-serif;

font-family: 'Droid Serif', serif;

*/


@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
	box-sizing: border-box;
	text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: #014BB9;
}

h1 {
	font-family: 'Sniglet', cursive;
}

p, li {
	font-family: 'Droid Serif', serif;
	font-weight: normal;
}

h2, h3, h4, a, label {
	font-family: 'Lato', sans-serif;
}


h1, h2, h3, h4, p, li, a, label {
	color: white;
}

.rule-below {
	border-bottom: 1px solid white;
	width: 80%;
	margin: 0 auto;
}

.footer-max-width {
	max-width: 700px;
    margin: auto;
}

footer p, footer a{
	color: white;
	margin-bottom: 0;
}

.border{
	border:1px solid white;
	border-radius: 3px;
}
.btn-style {
	background-color: #ef4130;
	border-radius: 100px;
	text-align: center;
	letter-spacing: 1;
	width: 10em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.btn-style-2 {
	background-color: #ef4130;
	border-radius: 100px;
	text-align: center;
	letter-spacing: 1;
	width: 8em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.btn-style:hover {
	background-color: #c72824;
}

.media-obj img {
	margin-left: 1.3rem;
}

label {
	letter-spacing: 1;
}

footer {
	background-color: #230962;
}

header a, footer a {
	text-decoration: none;
}

label {
	display: block;
	cursor: pointer;
}

.wider-input {
	width: 75%;
	min-width: 175px;
}


@media only screen and (min-width: 18em) {
	.btn-style {
		width: 15em;
	}
}




@media only screen and (min-width: 38em) {

	.media-obj img {
		margin-left: 1.4rem;
	}
}

@media only screen and (min-width: 60em) {

	.media-obj img {
		margin-left: 1.5rem;
	}

	.max-width {
		margin-left: 10%;
		margin-right: 10%;
	}


}